.idea
.git
.gitignore
.gitattributes
Dockerfile
.dockerignore
builds
scripts
resources/assets/js
resources/assets/sass
storage/app
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing
public/uploads
node_modules
vendor
phpunit.xml
readme.md
